Source: libsuinput
Priority: extra
Maintainer: Tuomas Jorma Juhani Räsänen <tuomasjjrasanen@tjjr.fi>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libudev-dev
Standards-Version: 3.9.3
Section: libs
Homepage: http://tjjr.fi/sw/libsuinput

Package: libsuinput-dev
Section: libdevel
Architecture: any
Depends: libsuinput4 (= ${binary:Version}), ${misc:Depends}
Description: thin userspace library on top of Linux uinput kernel module
 Uinput is Linux kernel module which allows attaching userspace device
 drivers into the Linux kernel. However, its ioctl-interface is pretty
 low level from an application developer's perspective. This library
 provides a set of helper functions for making the usage of uinput
 easier. Libsuinput can be considered thin, because it operates on the
 same file descriptors as traditional ioctl commands.
 .
 This package provides development files.

Package: libsuinput4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libudev0
Description: thin userspace library on top of Linux uinput kernel module
 Uinput is Linux kernel module which allows attaching userspace device
 drivers into the Linux kernel. However, its ioctl-interface is pretty
 low level from an application developer's perspective. This library
 provides a set of helper functions for making the usage of uinput
 easier. Libsuinput can be considered thin, because it operates on the
 same file descriptors as traditional ioctl commands.
 .